@import '~bootstrap/scss/bootstrap';

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

td, th {
  padding: 0px 8px;
}

td.title, #back {
  cursor: pointer;
}

td.title:hover, #back:hover {
  text-decoration: underline;
}

#back, p {
  margin-left: 20px;
}

td.date {
  text-align: center;
}